.div1{
	display:block;
	margin-left:37%;
	background:black;
	width:380px;
	margin-right:0;
}
input{
	width:367px;
	height:50px;
	font-size:30px;
	background-color:black;
	color:white;
}
button{
	width:90px;
	height:75px;
	font-size:30px;
	border-color:black;
	color:white;
	background-color:silver;
}
.main{
	width:100%;
}
.orange{
	background-color:orange;
}
body{
	background-color:black;
}
h1{
	color:orange;
}